/* CSS reset from https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margin */
body, h1, h2, h3, h4, p {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input, button {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {

  html:focus-within {
   scroll-behavior: auto;
  }
  
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

}

/* Main styles */

@font-face {
    font-family: Manolete;
    src: url(./public/fonts/MANOLETE.ttf) format('truetype');
}

@font-face {
    font-family: Lato;
    src: url(./public/fonts/Lato-Bold.ttf) format('truetype'),
        url(./public/fonts/Lato-Regular.ttf) format('truetype');
}

:root {
    --span-font: Manolete, sans-serif;
    --text-font: Lato, sans-serif;
}

body {
    font-family: var(--text-font)
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
}

.sidebar {
    width: max(600px, 33%);
    position: relative;
    z-index: -1;
}

.sidebar-image {
    height: 100vh;
    object-fit: cover;
}

.sidebar-overlay {
    position: absolute;
    top: 44%;
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sidebar-icon {
    width: calc(150px - 0.5vw);
}

span {
    font-family: var(--span-font);
    font-size: clamp(36px, calc(60px - 0.5vw), 80px);
    letter-spacing: 1px;
}

.content {
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #F9FAFB;
}

h1, h2, button, p {
    margin-left: 5rem;
}

.form-container {
    background-color: #fff;
    padding: 5rem;
}

form {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}