/* CSS reset from https://piccalil.li/blog/a-modern-css-reset */

*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
}

input, button {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {

  html:focus-within {
    scroll-behavior: auto;
  }
  
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

}

/***       Main styles       ***/

@font-face {
  font-family: Manolete;
  src: url(./public/fonts/MANOLETE.ttf) format('truetype');
}

@font-face {
  font-family: Lato;
  src: url(./public/fonts/Lato-Bold.ttf) format('truetype'),
      url(./public/fonts/Lato-Regular.ttf) format('truetype');
}

:root {
  --span-font: Manolete, sans-serif;
  --text-font: Lato, sans-serif;
}

body {
  font-family: var(--text-font)
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
}

.sidebar {
  width: max(600px, 33%);
  position: relative;
  z-index: -1;
}

.sidebar-image {
  height: 100vh;
  object-fit: cover;
}

.sidebar-overlay {
  position: absolute;
  top: 44%;
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.sidebar-icon {
  width: clamp(100px, 7vw, 200px);
}

span {
  font-family: var(--span-font);
  font-size: clamp(24px, calc(4vw - 10px), 80px);
  letter-spacing: 1px;
}

.content {
  width: 67%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: linear-gradient(#9F54E1, #fff, #2B79D1);
}

h1, h2, p {
  margin: 20px 0 20px 5rem;
  color: #fff;
}

h1, h2 {
  font-size: clamp(18px, 2vw, 28px)
}

h3 {
  font-size: clamp(14px, 2vw, 24px)
}

.form-container {
  background-color: #fff;
  padding: 5rem;
}

.row {
  width: 55vw;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

label {
  color: #777;
  font-size: 12px;
  text-transform: uppercase;
}

input {
  display: block;
  width: 25vw;
  border: 1px #777 solid;
  border-radius: 5px;
}

.button-container {
  width: 40vw;
  height: 100px;
  font-size: max(1vw, 18px);
}

button {
  margin: 0 0 20px 5rem;
  border-radius: 5px;
  background: #76BA8F;
  padding: 0.5rem 1rem;
}

.button-container > button, p, a {
  color: #fff;
  font-size: clamp(14px, 2vw, 18px)
}